text {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
}

.heading label {
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}

.legend {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    text-transform: lowercase;
}

.chart-container {
    float: left;
    padding-top: 30px;
}

.player-grid {
    float: left;
    height: 500px;
    width: 30%;
    overflow: scroll;
}

.player-grid-header {
    float: left;
    width: 30%;
    text-align: center;
}

.player-grid-footer {
    float: left;
    width: 30%;
    text-align: center;
    height: 50px;
    margin-top: 5px;
}

.column {
    width: 20%;
    align-items: center;
    margin: auto;
    display: inline-block;
    height: 60px;
    overflow: hidden;
  }

  .column svg {
      display: block;
      margin: auto;
      margin-top: 12%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }